.card {
  width: 450px;
  height: 270px;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-inner.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/public/cardBackground/bg.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @apply rounded-2xl shadow-2xl;
}

.card-back {
  transform: rotateY(180deg);
}
